# === Python ===
# Байт-код Python
__pycache__/
*.py[cod]

# Дистрибутивы и build-файлы
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.DS_Store

# Временные файлы
*.tmp
*.log
*.sqlite3
*.db

# === Flask ===
# Конфиденциальные данные
instance/
.env
.flaskenv
*.key
*.crt
*.pem

# Тестовые файлы
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Локальные настройки
local_settings.py
settings_local.py

# Зависимости
venv
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# === Операционные системы ===
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# === Другие ===
# Файлы, созданные редакторами
*.swp
*.bak


# Логи и базы данных
logs/
*.sql
*.sqlite

# Docker
Dockerfile
docker-compose.yml

.idea
